header {
    border-bottom: 2px solid $secondColor;
    padding: 10px 0px;
    width: 85%;
    margin: auto;

    .col-4,
    .col-xl-4 {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        align-items: center;

        img {
            width: 40%;
        }

        p {
            margin: 0;
        }

        p:nth-child(4) {
            font-size: 2em;
        }

        // &:nth-child(1),
        // &:nth-child(3) {
            // padding-bottom: 10px;
        // }
    }

    .col-xl-4 img {
        width: 200px;
    }

    .col-4:nth-child(1) {
        justify-content: flex-start;
    }

    .col-4:nth-child(2) {
        justify-content: center;

        h1 {
            font-size: 4em;
        }
    }

    .col-4:nth-child(3) {
        justify-content: center;

        img {
            width: 60%;
        }
    }
}

@media screen and (max-width:992px) {

    .col-4:nth-child(2),
    .col-4:nth-child(3) {
        display: none;
    }

    .col-xl-4 {
        display: flex;
        justify-content: center;
        padding: 20px 0px;
    }
}